body{
    min-height: 100vh;
    background-color: var(--primary-200);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}
main{
    position: relative;
    width: 600px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    color: var(--neutral-900);
}

.messageSent{
    width: 340px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: var(--neutral-900);
    top: -71px;
    color: var(--white);
    padding: 15px;
    border-radius: 10px;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.messageSent div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.messageSent div h4{
    font-size: 15px;
    font-weight: 700;
}

.messageSent img{
    height: 13px;
    width: 13px;
}

.messageSent p{
    font-size: 12px;
}



main h1{
    font-weight: 700;
    margin-bottom: 20px;
}

main form fieldset{
    border: none;
    margin-bottom: 10px;
}

main form fieldset ul{
    display: flex;
    gap: 10px;
}
main form fieldset ul li{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labelDescription{
    font-size: 12px;
}
.labelDescription span {
    color: var(--primary-600);
}

main form fieldset ul li input{
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid var(--neutral-900);
    cursor: pointer;
}
main form fieldset ul li input:focus, textarea:focus{
    border: 1px solid var(--primary-600);
    outline: none;
}
.contactDetails ul li, .message ul li, .consent ul li, button{
    width: 100%;
}
.queryType ul li{
    width: 100%;
}
.queryType ul li div{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 7px;
}

.queryType ul li div label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    gap: 8px;
    padding: 7px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--neutral-900);
    cursor: pointer;
}

.queryType ul li div label input[type="radio"], .consent ul li .labelDescription input[type="checkbox"] {
    accent-color: var(--primary-600);
    margin: 0;
    vertical-align: middle;
}

.message ul li textarea{
    resize: none;
    margin-bottom: 5px;
    height: 70px;
    padding: 10px;
    color: var(--neutral-900);
    border-radius: 7px;
    cursor: pointer;
}

.consent ul li .labelDescription{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

button{
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--primary-600);
    color: var(--white);
    border: none;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover{
    background-color: var(--neutral-1000);
}

main form fieldset ul li input:hover,
.message ul li textarea:hover,
.queryType ul li div label:hover{
    border: 1px solid var(--primary-600);
}


.error{
    font-size: 12px;
    color: var(--error);
    display: none;
}

.invalidField{
    border: 1px solid var(--error);
}
.queryType ul li div .focused{
    border: 1px solid var(--primary-600);
    outline: none;
    background-color: var(--primary-200);
} 

.attribution{
    font-size: 10px;
    text-align: center;
}