:root{
    /* ### Primary */
--primary-200 : hsl(148, 38%, 91%);
/* hover */
--primary-600 : hsl(169, 82%, 27%);
/* bordar focus burron */
--error: hsl(0, 66%, 54%);

/* ### Neutral */

--white: hsl(0, 0%, 100%);
--neutro:hsl(180, 4%, 60%);
--neutral-500: hsl(186, 15%, 59%);
--neutral-900: hsl(187, 24%, 22%);

}